.mycontainer {
  height: 100vh;
  width: 100vw;
}
.row {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  margin-top: 2em;
  padding: 0.5em, 3em;
}
.title {
  margin-bottom: 2em;
}
